<h1>Order Pizza</h1>

<form action="/pizzas" method="post">
<p>
  <label>
  First name:
  <input type="text" name="first_name" />
  </label>
</p>

<p>
  <label>
  Last name:
  <input type="text" name="last_name" />
  </label>
</p>

<p>
  <label>
    Topping:
    <select name="topping">
      <option value="Margherita">Margherita</option>
      <option value="Italian Sausage">Italian Sausage</option>
    </select>
  </label>
</p>

<P>
  <label>
  Quantity:
  <input type="number" name="quantity"
  </label>
 </p> 
  <input type="submit" value="Order"/>


</form>