<!DOCTYPE html>
<html>
<head>
  <title>My First Website</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<nav>
  <ul>
    <li><a href="/dog">My Dog</a></li>
    <li><a href="/subtract/10/5">5, lol</a></li>
  </ul>
</nav>
<%= yield %>
</body>
</html>